[user]
	name = Alexsandra Meneses da Silva
	email = alexsandra.silva@pentare.com.br
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
